<mat-card>
  <form [formGroup]="pictureForm">
    <mat-card-title>
      <mat-form-field>
          <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>
    </mat-card-title>
    <img
      mat-card-image
      src="{{ picture.base64 }}"
      alt="">
    <div class="spacer"></div>
    <mat-card-footer>
      <mat-form-field>
        <mat-chip-list #metaTagChips>
          <mat-chip
            *ngFor="let metaTag of metaTags"
            (removed)="remove(metaTag)">
              {{ metaTag }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
          <input
            placeholder="Meta Tags"
            [matChipInputFor]="metaTagChips"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="pictureTaken"
            placeholder="Picture Taken At"
            formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="pictureTaken"></mat-datepicker-toggle>
          <mat-datepicker #pictureTaken></mat-datepicker>
        </mat-form-field>
    </mat-card-footer>
  </form>
</mat-card>

<!-- <p>
  Form Value: {{ pictureForm.value | json }}
</p> -->
