<input
  hidden
  multiple
  type="file"
  (change)="onFileChanged($event)"
  accept="image/*"
  #fileInput>

<div class="main-wrapper">
  <div>
    <h1>Upload your pictures here</h1>
    <h4>Your selected images will be displayed below</h4>
  </div>
  <button mat-raised-button (click)="fileInput.click()" class="upload-button">Select Files</button>
</div>

<div class="preview-wrapper">
  <app-picture-form
    *ngFor="let item of Pictures; index as i"
    [picture]="item">

    <!-- Increase value of i -->
    <ng-template *ngIf="false">{{ i+1 }}</ng-template>
  </app-picture-form>
</div>


<button class="float-upload popup" mat-fab (click)="uploadImages()" *ngIf="Pictures.length !== 0"><mat-icon>publish</mat-icon></button>
