.image-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90vw;
    height: 100%;

    img {
        height: 25vh;
        widows: auto;
        padding: 0 0 1em 1em;
    }
}

.float-upload {
    position: fixed;
    right: 40px;
    bottom: 40px;
}