// :host {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 80vw;
//   padding: 15px 10vw;
// }

.image-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90vw;
    height: 100%;

    @media (min-width: 500px) {
        img {
            height: 25vh;
            width: auto;
            padding: .5em;
        }
    }
    @media (max-width: 500px) {
        img {
            width: 90vw;
            height: inherit;
            padding-bottom: 1em;
        }
    }
}

.float-upload {
    position: fixed;
    right: 40px;
    bottom: 40px;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 5px;
}

.upload-button {
    min-width: 250px;
    max-width: 90vw;
}

mat-card {
    margin-top: 25px;
    max-width: 90vw;
    min-height: 75vh;
}


// Popup animation for upload button
.popup{
    animation: popup 0.3s;
}

@keyframes popup {
    0%{
      transform: scale(0);
    }
    100%{
      transform: scale(1);
    }
  }
