<input
  hidden
  multiple
  type="file"
  (change)="onFileChanged($event)"
  accept="image/*"
  #fileInput>

<div class="main-wrapper">
  <button mat-raised-button (click)="fileInput.click()" class="upload-button">Select Files</button>
  
  <mat-card>
      <mat-card-title>Selected Images</mat-card-title>
      <mat-card-subtitle>Your selected images will appear here.</mat-card-subtitle>
      <mat-card-content class="image-wrapper">

        <div *ngFor="let item of previewUrls; index as i">
          <app-picture-form
            pictureBase64="{{ item }}"
            index="{{ i }}"></app-picture-form>
          
          <!-- Increase value of i -->
          <ng-template *ngIf="false">{{ i+1 }}</ng-template>
        </div>
      </mat-card-content>
  </mat-card>
</div>

<button class="float-upload popup" mat-fab (click)="uploadImages()" *ngIf="previewUrls.length !== 0"><mat-icon>publish</mat-icon></button>